node_modules
.next
.git
.gitignore
.env
.env.local
.env*.local
data
*.db
*.db-shm
*.db-wal
README.md
render.yaml
.eslintrc.json
postcss.config.js
components.json
tsconfig.json
next-env.d.ts
.husky
.vscode
.idea
.DS_Store